/* hero */

.hero {
  background-image: url('images/muerta.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
}

.big_center {
  text-align: center;
}

.hero-text {
  display: inline-block;
  top: 50%;
  color: gray;
  font-size: 60px;
  padding-top: 20%;
}

#author {
  text-align: center;
}

.byauthor {
  display: inline-block;
  padding-top: 50px;
  padding-bottom: 50px;
}

.byline {
  font-size: 20px;
  font-family: "Proxima Nova"
}
