/* hero */

.hero {
  background-image: url('images/muerta.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 100%;
}

.big_center {
  text-align: center;
}

.hero-text {
  display: inline-block;
  top: 50%;
  color: gray;
  font-size: 20vw;
  padding-top: 15%;
  font-family: "garamomd", serif;
}

.credit {
  text-align: right;
}

.credit_also {
  display: inline-block;
}

.credit2 {
  font-family: "Roboto";
  font-size: 12px;
  letter-spacing: 2px;
  color: gray;
}

#main2 {
  background-color: black;
}

#author {
  text-align: center;
}

.byauthor {
  display: inline-block;
  padding-top: 50px;
  padding-bottom: 50px;
}

.byline {
  font-size: 20px;
  font-family: "Roboto";
  letter-spacing: 3px;
}

h1 {
  color: gray;
  font-family: "Roboto";
  font-size: 3em;
}

#story {
  padding-bottom: 50px;
}

.bodytext {
  color: white;
  font-size: 18px;
  font-family: "Roboto";
  letter-spacing: .7px
}

.pic {
  margin-top: 40px;
}

.space {
  margin-bottom: 70px;
}

.bio {
  background-color:gray;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #262626;
}










=
